<html>
  <body>
  <% if @post.errors.any? %><div class="alert alert-danger" role="alert">
  <p>Nous n''avons pas réussi à créer le potin pour la (ou les) raison(s) suivante(s) :
  <ul>
    <% @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>  
  </ul></p></div>

<% end %>

    <!-- ... -->
    <div class= "container">
    <div class="row justify-content-around">
    <form method="post" action="/gossip">
      <div class= "card">
      <div class= "card-body">
      <label for="title" class="card-title text-center">Title</label>
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
      <input id="title" name="title" type="text" value="<%= @post.title %>"/>
      <br /> <br />
      
      <label for="body">Body</label>
      <textarea id="content" name="content" class="card-text text-center"><%= @post.content %></textarea>
      <br /> <br />

      <center>
      <input type="submit" value="Create Gossip" />
      </center>
      </div>
      </div>
    </form>
    </div>
    </div>
  </body>
</html>