<div class="container">
  <h1 class="text-center">Bienvenue sur la page de notre team !</h1>
  </br>
  </br>
  <table align="center" class="team">
    <tr><td><h5>Nassri Hamdi</h5></td><td><h5>Smolis Maxime</h5></td></tr>
  </table>
</div>