<div class="container">
<h1 class="text-center">Comment nous contacter :</h1>
</br>
</br>
<table align="center">
<tr>
<td>Tel</td><td>06 06 06 06 06</td>
</tr>
<tr>
<td>Email</td><td>potins@comère.io</td>
</tr>
<tr>
<td>Adresse</td><td>hacking town</td>
</table>
</div>